@model BVUB_WebTuyenDung.Models.ThongTinTuyenDung

@{
    ViewData["Title"] = "Chi tiết Thông Tin Tuyển Dụng";
}

<h2>@ViewData["Title"]</h2>
<hr />
<dl class="row">
    <dt class="col-sm-3">Tiêu đề</dt>
    <dd class="col-sm-9">@Model.TieuDe</dd>

    <dt class="col-sm-3">Nội dung</dt>
    <dd class="col-sm-9">@Model.NoiDung</dd>

    <dt class="col-sm-3">Ngày đăng</dt>
    <dd class="col-sm-9">@Model.NgayDang.ToString("dd/MM/yyyy")</dd>

    <dt class="col-sm-3">Hạn nộp</dt>
    <dd class="col-sm-9">@Model.HanNopHoSo.ToString("dd/MM/yyyy")</dd>

    <dt class="col-sm-3">Loại tuyển dụng</dt>
    <dd class="col-sm-9">@Model.LoaiTuyenDung</dd>

    <dt class="col-sm-3">File đính kèm</dt>
    <dd class="col-sm-9">@Model.FileDinhKem</dd>

    <dt class="col-sm-3">Trạng thái</dt>
    <dd class="col-sm-9">@Model.TrangThai</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.TuyenDungId" class="btn btn-warning">Sửa</a>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
