@model BVUB_WebTuyenDung.Models.HuongDanDangKy

@{
    ViewData["Title"] = "Chi tiết Hướng Dẫn Đăng Ký";
}

<h2>@ViewData["Title"]</h2>
<hr />
<dl class="row">
    <dt class="col-sm-3">Tiêu đề</dt>
    <dd class="col-sm-9">@Model.TieuDe</dd>

    <dt class="col-sm-3">Nội dung</dt>
    <dd class="col-sm-9">@Model.NoiDung</dd>

    <dt class="col-sm-3">Loại</dt>
    <dd class="col-sm-9">@Model.LoaiHuongDan</dd>

    <dt class="col-sm-3">File hướng dẫn</dt>
    <dd class="col-sm-9">@Model.FileHuongDan</dd>

    <dt class="col-sm-3">Ngày cập nhật</dt>
    <dd class="col-sm-9">@Model.NgayCapNhat.ToString("dd/MM/yyyy")</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.HuongDanId" class="btn btn-warning">Sửa</a>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>