@model IEnumerable<BVUB_WebTuyenDung.Models.HuongDanDangKy>

@{
    ViewData["Title"] = "Danh sách Hướng Dẫn Đăng Ký";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Tiêu đề</th>
            <th>Ngày cập nhật</th>
            <th>Loại</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TieuDe</td>
                <td>@item.NgayCapNhat.ToString("dd/MM/yyyy")</td>
                <td>@item.LoaiHuongDan</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HuongDanId" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.HuongDanId" class="btn btn-sm btn-info">Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.HuongDanId" class="btn btn-sm btn-danger">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>